{% extends "base.html.twig" %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
    {% for ticket in tickets %}
        <li>{{ ticket.eventName }} <a class="nav-link" href="{{ path('submit_offer', {'eventName': ticket.eventName}) }}">Soumettre une offre</a></li>
    {% endfor %}
{% endblock %}
